.navbar {
    padding-left: 32px;
    top: 16px;
    /*deixar escondido antes da primeira rolagem de página*/
}

.first-page {
    height: 100vh;
    background-color: rgb(86, 86, 219);
}

#biografia {
    background-color: bisque;
    height: 100vh;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.rounded-circle {
    margin-bottom: 18px;
}

#trabalhos {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding-bottom: 36px;
    padding-top: 24px;
}

.conteudo {
    width: 50%;
    margin: 0;
    float: left;
    padding-left: 2em;
    padding-top: 0.5em;
}

.conteudo p {
    float: left;
}

.projeto {
    text-decoration: none;
    bottom: 0;
}

footer {
    background-color: black;
    color: white;
}