html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

img {
    image-rendering: pixelated;
}

body {
    place-items: center;
    margin: 0;
    padding: 0;
}

#first-page {
    display: flex;
    background: url(/img/code-page.jpg);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#first-page h2 {
    position: relative;
    color: white;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.typing-animation {
    animation: blink-cursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-cursor {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}

#arrow:hover {
    color: chartreuse;
    transform: scale(1);
}

#biography {
    padding-top: 60px;
}

#biography {
    background-color: bisque;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social i {
    color: black;
}

.social i:hover {
    transform: scale(1.1);
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.rounded-circle {
    margin-bottom: 18px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding-bottom: 36px;
    padding-top: 24px;
}

.project {
    text-decoration: none;
    color: rgb(82, 70, 255);
    /*paleta de cores*/
}

.atualizacoes {
    padding-left: 30px;
}

.atualizacoes li {
    padding: 0;
    margin: 0;
}

footer {
    height: 8em;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}